
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
        <a href="/tasks">Calculadora</a>
        {% if user.is_authenticated %}
        <li>
            <a href="/logout">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="/signup">Signup</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>

<h1>Home</h1>

<p>Bienvenido, registrate o inicia sesión para calcular tus emisiones de carbono anuales. 
    Recuerda que estos calculos son aproximados y están hechos para hacerte una idea visual de 
    cuantos gases de efecto invernadero realmente produces como ciudadano
</p>
